.contentbox{
    height:100px;
    width:100px;
    Border:solid;
    border-color:black;
    display:inline-block;

}
.red
{
      background-color:rgb(226, 43, 43);
      position:relative;
      bottom:20px;

}
.green{
  background-color:rgb(5, 90, 5);
}
.pink{
  background-color:rgb(77, 5, 17);
}
#content{
    height:350px;
}
*{
  padding:0;
  margin:0;
  color:white;
 }
 #navbar{
  height:60px;
  background-color:black;
 }
 button{
  background-color:#f08804;
 }
#logo{
  color:#f08804;
  font-size:25px;

}
a{
  margin-right:190px;
  text-decoration:none;
}
footer{
    color:black;
    position:relative;
    bottom:70px;
}
#box4{
  background-image:url(london.jpg);
  background-size:250px;
  height: 250px;
  width:250px;
  position:relative;
  left:60px;
  bottom:50px;
  
}