  div {
    border-width:5px;
    border-color:crimson;
    border-style:solid;
    height:100px;
    width:100px;
    text-align:right;
    background-color:blueviolet;
    border-radius:10px;
  }


   div{
        width:100px;
        height:100px;
        margin:25px;
        padding:25px;
        display:inline-block;
    }
    
    .box1{
        background-color: plum;
    }
    .box2{
      background-color:lightgreen;
    }
    .box3{
      background-color:pink;
    }
    .box4{
      background-color:burlywood;
      height:450px;
      width:450px;
      border-radius:0px;
      border-width:0px;
    }
    #box5{
      height:420px;
      width:380px;
      background-color:rgb(122, 76, 7);
      border-radius:0px;
      border-width:0px;
    }
    #box6{
      background-color:rgb(53, 25, 2);
      height:390px;
      width:320px;
      border-radius:0px;
      border-width:0px;
    }
    #box7{
      background-color:rgba(162, 5, 5, 0.909);
      height:300px;
      width:250px;
      border-radius:0px;
      border-width:0px;
    }

  