h1{
    color:red;
}
p{
    color:blue;
}
button{
    color:orange;
    background-color:pink;
}
body{
    background-color:burlywood
}
.myclass{
    color:purple;
}
.heading{
    color:red
}
body{
    background-color:white;
}