body {
font-family:arial,sans-serif;
margin:20px;
}
.block_menu {
    display:block;
    background-color:blue;
    color:white;
    padding:10px;
    margin:5px 0;
    text-decoration:none;
}
.inline-menu{
    display:inline;
    background-color:green;
    color:white;
    padding:5px;
    margin:5px;
    text-decoration:none;
}
.inline-block-menu{
    display:inline-block;
    background-color:purple;
    color:white;
    height:50px;
    width:120px;
    padding:10px 15px;
    margin:5px;
    text-decoration:none;
}
.clear-example{
    clear:both;
    background-color:gray;
    padding:10px;
    margin-top:20px;
    border:1px solid #ccc
}